body{
font-family: arial;
}

p.android{
    font-size: large;
}
p.p2{
    font-style:italic;
}

/*link*/
a:link{
    color: rgb(0, 119, 255);
    font-style: normal;
    text-decoration: none;

}
a:visited{
    color: aqua;
}
a:hover{
    color: red;
}
a:active{
    color: chartreuse;
}

/*table*/
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: aqua;
}
