@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300;400&display=swap');

form {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 50px;
    padding: 30px;
}